USE [master]
GO
/****** Object:  Database [FacturasVenta]    Script Date: 3/04/2024 10:19:46 a. m. ******/
CREATE DATABASE [FacturasVenta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FacturasVenta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FacturasVenta.mdf' , SIZE = 68608KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FacturasVenta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FacturasVenta_log.ldf' , SIZE = 66560KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FacturasVenta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FacturasVenta]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 3/04/2024 10:19:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[IDE_CLIENTE] [numeric](5, 0) NOT NULL,
	[NOM_CLIENTE] [varchar](300) NOT NULL,
	[NUM_TELEFONO] [numeric](16, 0) NOT NULL,
	[NOM_DIRECCION] [varchar](20) NOT NULL,
	[FEC_INGRESO] [date] NOT NULL,
	[COD_ESTRATO] [numeric](2, 0) NOT NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[IDE_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLES_FACTURAS]    Script Date: 3/04/2024 10:19:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLES_FACTURAS](
	[IDE_FACTURA] [numeric](10, 0) NOT NULL,
	[IDE_PRODUCTO] [numeric](5, 0) NOT NULL,
	[NUM_UNIDADES] [numeric](5, 0) NOT NULL,
	[VAL_SUBTOTAL] [numeric](22, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURAS]    Script Date: 3/04/2024 10:19:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURAS](
	[IDE_FACTURA] [numeric](10, 0) NOT NULL,
	[FEC_FACTURA] [date] NOT NULL,
	[VAL_FACTURA] [numeric](15, 0) NOT NULL,
	[COD_TIPO_PAGO] [numeric](2, 0) NOT NULL,
	[IDE_TIPO_TARJETA] [numeric](2, 0) NOT NULL,
	[IDE_CLIENTE] [numeric](5, 0) NOT NULL,
 CONSTRAINT [PK_FACTURAS] PRIMARY KEY CLUSTERED 
(
	[IDE_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 3/04/2024 10:19:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[IDE_PRODUCTO] [numeric](5, 0) NOT NULL,
	[NOM_PRODUCTO] [varchar](20) NOT NULL,
	[VAL_UNITARIO] [numeric](10, 0) NOT NULL,
	[NUM_UNIDADES_DISPONIBLES] [numeric](10, 0) NOT NULL,
	[FEC_INGRESO] [date] NOT NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[IDE_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_TARJETA_CREDITO]    Script Date: 3/04/2024 10:19:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_TARJETA_CREDITO](
	[IDE_TIPO_TARJETA] [numeric](2, 0) NOT NULL,
	[NOM_TIPO_TARJETA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPOS_TARJETA_CREDITO] PRIMARY KEY CLUSTERED 
(
	[IDE_TIPO_TARJETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CLIENTES] ([IDE_CLIENTE], [NOM_CLIENTE], [NUM_TELEFONO], [NOM_DIRECCION], [FEC_INGRESO], [COD_ESTRATO]) VALUES (CAST(1 AS Numeric(5, 0)), N'CARLOS ALBERTO', CAST(3132548796 AS Numeric(16, 0)), N'CARRERA 5 # 45-23', CAST(N'2023-04-01' AS Date), CAST(2 AS Numeric(2, 0)))
INSERT [dbo].[CLIENTES] ([IDE_CLIENTE], [NOM_CLIENTE], [NUM_TELEFONO], [NOM_DIRECCION], [FEC_INGRESO], [COD_ESTRATO]) VALUES (CAST(2 AS Numeric(5, 0)), N'JORGE AHUMADA', CAST(3521428787 AS Numeric(16, 0)), N'CALLE 8 # 56-10', CAST(N'2021-03-05' AS Date), CAST(2 AS Numeric(2, 0)))
INSERT [dbo].[CLIENTES] ([IDE_CLIENTE], [NOM_CLIENTE], [NUM_TELEFONO], [NOM_DIRECCION], [FEC_INGRESO], [COD_ESTRATO]) VALUES (CAST(3 AS Numeric(5, 0)), N'ALEXANDER GALVIS', CAST(3001257489 AS Numeric(16, 0)), N'CARRERA 5 # 10-20', CAST(N'2022-05-05' AS Date), CAST(3 AS Numeric(2, 0)))
INSERT [dbo].[DETALLES_FACTURAS] ([IDE_FACTURA], [IDE_PRODUCTO], [NUM_UNIDADES], [VAL_SUBTOTAL]) VALUES (CAST(1 AS Numeric(10, 0)), CAST(3 AS Numeric(5, 0)), CAST(3 AS Numeric(5, 0)), CAST(1500000 AS Numeric(22, 0)))
INSERT [dbo].[DETALLES_FACTURAS] ([IDE_FACTURA], [IDE_PRODUCTO], [NUM_UNIDADES], [VAL_SUBTOTAL]) VALUES (CAST(2 AS Numeric(10, 0)), CAST(4 AS Numeric(5, 0)), CAST(2 AS Numeric(5, 0)), CAST(1400000 AS Numeric(22, 0)))
INSERT [dbo].[DETALLES_FACTURAS] ([IDE_FACTURA], [IDE_PRODUCTO], [NUM_UNIDADES], [VAL_SUBTOTAL]) VALUES (CAST(3 AS Numeric(10, 0)), CAST(2 AS Numeric(5, 0)), CAST(1 AS Numeric(5, 0)), CAST(2500000 AS Numeric(22, 0)))
INSERT [dbo].[FACTURAS] ([IDE_FACTURA], [FEC_FACTURA], [VAL_FACTURA], [COD_TIPO_PAGO], [IDE_TIPO_TARJETA], [IDE_CLIENTE]) VALUES (CAST(1 AS Numeric(10, 0)), CAST(N'2024-01-01' AS Date), CAST(1500000 AS Numeric(15, 0)), CAST(1 AS Numeric(2, 0)), CAST(4 AS Numeric(2, 0)), CAST(1 AS Numeric(5, 0)))
INSERT [dbo].[FACTURAS] ([IDE_FACTURA], [FEC_FACTURA], [VAL_FACTURA], [COD_TIPO_PAGO], [IDE_TIPO_TARJETA], [IDE_CLIENTE]) VALUES (CAST(2 AS Numeric(10, 0)), CAST(N'2024-02-01' AS Date), CAST(1400000 AS Numeric(15, 0)), CAST(3 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)), CAST(1 AS Numeric(5, 0)))
INSERT [dbo].[FACTURAS] ([IDE_FACTURA], [FEC_FACTURA], [VAL_FACTURA], [COD_TIPO_PAGO], [IDE_TIPO_TARJETA], [IDE_CLIENTE]) VALUES (CAST(3 AS Numeric(10, 0)), CAST(N'2024-01-03' AS Date), CAST(2500000 AS Numeric(15, 0)), CAST(3 AS Numeric(2, 0)), CAST(2 AS Numeric(2, 0)), CAST(2 AS Numeric(5, 0)))
INSERT [dbo].[PRODUCTOS] ([IDE_PRODUCTO], [NOM_PRODUCTO], [VAL_UNITARIO], [NUM_UNIDADES_DISPONIBLES], [FEC_INGRESO]) VALUES (CAST(1 AS Numeric(5, 0)), N'COMPUTADOR DELL', CAST(1250000 AS Numeric(10, 0)), CAST(20 AS Numeric(10, 0)), CAST(N'2024-01-01' AS Date))
INSERT [dbo].[PRODUCTOS] ([IDE_PRODUCTO], [NOM_PRODUCTO], [VAL_UNITARIO], [NUM_UNIDADES_DISPONIBLES], [FEC_INGRESO]) VALUES (CAST(2 AS Numeric(5, 0)), N'PORTATIL ACER', CAST(2500000 AS Numeric(10, 0)), CAST(15 AS Numeric(10, 0)), CAST(N'2023-03-02' AS Date))
INSERT [dbo].[PRODUCTOS] ([IDE_PRODUCTO], [NOM_PRODUCTO], [VAL_UNITARIO], [NUM_UNIDADES_DISPONIBLES], [FEC_INGRESO]) VALUES (CAST(3 AS Numeric(5, 0)), N'TABLET ASUS', CAST(500000 AS Numeric(10, 0)), CAST(50 AS Numeric(10, 0)), CAST(N'2023-06-05' AS Date))
INSERT [dbo].[TIPOS_TARJETA_CREDITO] ([IDE_TIPO_TARJETA], [NOM_TIPO_TARJETA]) VALUES (CAST(1 AS Numeric(2, 0)), N'VISA')
INSERT [dbo].[TIPOS_TARJETA_CREDITO] ([IDE_TIPO_TARJETA], [NOM_TIPO_TARJETA]) VALUES (CAST(2 AS Numeric(2, 0)), N'MASTER CARD')
INSERT [dbo].[TIPOS_TARJETA_CREDITO] ([IDE_TIPO_TARJETA], [NOM_TIPO_TARJETA]) VALUES (CAST(3 AS Numeric(2, 0)), N'AMERICAN EXPRES')
ALTER TABLE [dbo].[DETALLES_FACTURAS]  WITH CHECK ADD  CONSTRAINT [DEFA_PROD] FOREIGN KEY([IDE_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([IDE_PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLES_FACTURAS] CHECK CONSTRAINT [DEFA_PROD]
GO
ALTER TABLE [dbo].[DETALLES_FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_DEFA_FACT] FOREIGN KEY([IDE_FACTURA])
REFERENCES [dbo].[FACTURAS] ([IDE_FACTURA])
GO
ALTER TABLE [dbo].[DETALLES_FACTURAS] CHECK CONSTRAINT [FK_DEFA_FACT]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_FACT_TITC] FOREIGN KEY([IDE_TIPO_TARJETA])
REFERENCES [dbo].[TIPOS_TARJETA_CREDITO] ([IDE_TIPO_TARJETA])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FK_FACT_TITC]
GO
/****** Object:  StoredProcedure [dbo].[Reporte]    Script Date: 3/04/2024 10:19:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Reporte] 
(
	-- Add the parameters for the stored procedure here
	@ANO INT
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		A.[NOM_CLIENTE],A.[NOM_DIRECCION], CASE B.[COD_TIPO_PAGO] WHEN 1 THEN 'EFECTIVO' WHEN 2 THEN 'CHEQUE' WHEN 3 THEN 'TARJETA'END AS 'TIPO_PAGO',
		C.[NOM_TIPO_TARJETA],E.[NOM_PRODUCTO], SUM([VAL_SUBTOTAL]) AS TOTAL
	FROM	[dbo].[CLIENTES] AS A INNER JOIN [dbo].[FACTURAS] AS B ON A.IDE_CLIENTE = B.IDE_CLIENTE
		INNER JOIN [dbo].[TIPOS_TARJETA_CREDITO] AS C ON B.IDE_TIPO_TARJETA = C.IDE_TIPO_TARJETA
		INNER JOIN [dbo].[DETALLES_FACTURAS] AS D on B.IDE_FACTURA = D.IDE_FACTURA
		INNER JOIN [dbo].[PRODUCTOS] AS E ON D.IDE_PRODUCTO = E.IDE_PRODUCTO
		WHERE A.[COD_ESTRATO] = 2  AND YEAR (B.FEC_FACTURA) = @ANO
		GROUP BY A.[NOM_CLIENTE],A.[NOM_DIRECCION],B.[COD_TIPO_PAGO],C.[NOM_TIPO_TARJETA],E.[NOM_PRODUCTO]
		HAVING SUM([VAL_SUBTOTAL]) BETWEEN 1000000 AND 3000000
		ORDER BY 6 DESC
END
GO
USE [master]
GO
